{
  "trailingComma": "none",
  "printWidth": 120,
  "tabWidth": 2,
  "useTabs": false,
  "overrides": [
    {
      "files": "*.{cmp,page,component,email}",
      "options": { "parser": "html" }
    },
    {
      "files": "**/lwc/**/*.html",
      "options": { "parser": "lwc" }
    }
  ]
}